#navbar{
    position: fixed;
    top: 0px;
    background-color: rgb(54, 53, 53,0.7);
    width: 100vw;
    z-index: 1;
}
#navbarList{
    display: flex;
    justify-content: center;
}

a.nav-link.active.text, h1.navbar-brand{
    color: white;
    text-shadow: 4px 4px 4px  black;
    margin: 0px 15px;
}

li.nav-item{
    border-radius: 20px;
}
li.nav-item:hover{
    background-color: rgb(203, 161, 161 ,0.5);
}
a.nav-link.active.text:hover{
    color: rgb(92, 202, 71);   
}

h1.navbar-brand:hover{
    color: white;
}

#navToggleButton span{
    background-color: white;
}

.logout-btn{
    position: absolute;
    right: 10vw;
    margin: 5px 10px;
}
.log-btn{
    border-radius: 20px;
    padding: 10px;
    border: none;
    background:green;
}
.log-btn:hover{
    background-color: rgb(21, 118, 21,0.8);
}

@media  screen and (max-width:992px) {
    .logout-btn{
        position: relative;
        right: 0;
    }
}