.commentsPage{
    height: 100vh;
    width: 100vw;
    background: #2e2d2c;

}
.yourComments{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.commentsTable{
    margin: 20px;
    border-radius: 20px;
}

.commentsTable th{
    text-shadow: none;
}

.videoBox{
    border: 2px #0BDA51 solid;
    display: flex;
    text-align: center;
}

.commentsTitle{
    text-align: center;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px #0BDA51 solid;
}
.thumbnail{
    width: 20vw;
    height: 30vh;
}

@media screen and (max-width:992px) {
    .yourComments{
        flex-direction: column;
    }
    .videoBox{
        flex-direction: column;
    }
    .data{
        border-left: none;
        border-top: #0BDA51 solid 2px;
    }
    .thumbnail{
        height: 20vh;
        width: 25vw;
    }
}