.commentsPage{
    height: 100vh;
    width: 100vw;
    background: #2e2d2c;

}
.yourComments{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0BDA51;
}
.commentsTable{
    margin: 20px;
    border-radius: 20px;
}

.commentsTable th{
    text-shadow: none;
}

.tableData{
    /* display: flex;
    justify-content: center; */
    overflow-y: scroll;
}